/* .recommend{
    border: none; 
    margin-right:100px;
    font-weight: 700;  
}
.filter-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding:0 50px 0 50px;
    margin: 30px;
}
.hide-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
b{
    margin-right: 40px;
} */