*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
hr{
  border:1px solid rgba(229 229 299);
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 50px;
  width:95%;
}
.hr{
  margin-top: 18px;
}
.hrrrr{
  margin-bottom: 18px;
}
.App{
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}